.navBar {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 400px;
  height: 100vh;
  background-color: #21a04d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  img {
    width: 100px;
  }
  .loginState {
    display: flex;
    gap: 5px;
    color: #fff;
  }
  .menu {
    padding-top: 50px;
    .menuTab {
      display: flex;
      gap: 30px;
      padding: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
